section.wrapper
{
    text-align: center;
}

canvas 
{
    
    position:fixed;
    top:100px;
    left:100px;
    display: inline;
    background-color: rgb(120, 107, 124);
    outline: 2px solid rgb(0, 0, 0);
    max-height: 80vh;
    max-width: 100vw;
}

body
{
    background-color: rgb(255, 193, 77);
    color: rgb(0, 0, 0);
}

div#game
{
  visibility:hidden;
  
}

div#non-game
{
  visibility:visible;
}

div#saved-data
{
  visibility:hidden;
}

div#clock
{
    position:fixed;
    left: 20px;
    top: 20px;
    color: rgb(0, 0, 0);
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}


div#joystick_zone
{
  position: fixed;
  right: 6.4%;
  top: 10.1%;
  width: 20%;
  height: 20%;
  background-color:#ff59595b;
}


div#score
{
    position:fixed;
    right: 20px;
    top: 20px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}
#main-header
{
  text-align: center;
}

img{
    visibility:hidden;
    height: 10px;
}

.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    top: 20px;
    left: 100px;
    position:Relative;
  }
  
  .button:hover {
    background-color: #3F3F3F;
  }
  
  .button:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
  }
  
  .red {
    color: #FF0000;
  }
  
  .green {
    color: #00FF00;
  }
  
  .blue {
    color: #0000FF;
  }
  
  .yellow {
    color: #FFFF00;
  }
  
  .round {
    border-radius: 50%;
  }
  